*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;


}

/* login  */
.loginBox{
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
height:100vh;
/* z-index: 0; */
 
}
.loginImg{
  width: 100%;
  height: 100vh;
  opacity: ;
  position: absolute;
top:0;
left:0;
z-index: 0;
/* filter: blur(5px); */
  
}
.formCard{
  /* background-color: white ; */
  border-radius: 5px;
  /* opacity: 1; */
 /* From https://css.glass */
background: rgba(255, 255, 255, 0.7);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
/* -webkit-backdrop-filter: blur(500px); */
border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.loginform{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  padding: 40px;
  position: static;
  /* z-index: 99; */
}
.loginField{
  /* padding: 22px 10px; */
  margin: 10px !important;
  width: 320px;
}
.errorMsg{
  color:red;
}


}
